@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
	--mainwhite: #fefefe;
	--greenbutton: #03b473;
	--greenbuttonhover: #039b6d;
	--texthover: #ffffff;
	--textbutton: #f5f5f5;
	--cardwhite: #ffffff;
	--cardborder: #ccc;
	--blacktextcolor: #151a1e;
	--searchbar: #f5f5f5;
	--bordersearch: #a19c9c;
	--bgdropdown: #ffffff;
	--borderdropdown: #dfdfdf;
	--texthoverdropdown: #4b5563;
	--borderhoverdropdown: #f3f4f6;
	--dropdownhr: #f5f1f1;
	--black: #000000;
	--grey: #565656;
	--cardborder:#ffffff;
	--bordernavbar:#fefefe;
	--bgwilayah: #f3f3f3;
	--footerpricing:#eaeaea;
	--borderpricing:rgb(223, 223, 223);
	--priceddetail:#505050;
	--xmark:rgb(137, 137, 137);
	--bgrecipe:#f3f3f3;
	--boxshadow:rgba(97, 97, 97, 0.33)
	--bordermasak:#dddddd;
	--bgrecipehover:#f1f1f1;
}
.dark{
	--xmark:rgb(179, 179, 179);
	--bgrecipe:#262626;
	--bgrecipehover:#303030;
	--bordermasak:#646464;
	--boxshadow:rgba(47, 47, 47, 0.33);
	--borderpricing:rgb(73, 73, 73);
	--priceddetail:#d6d6d6;
	--bgwilayah: #27282b;
	--footerpricing:#2a2a2a;
	--bordernavbar:#464646;
	--cardborder:#464646;
	--mainwhite: #202124 !important;
	--blacktextcolor: #e3e3e3;
	--black:#e3e3e3 !important;
	--grey:#f7f7f7 !important;
	--bgdropdown: #202124;
	--texthover: #202124;
	--textbutton: #202124;
	--cardwhite: #202124;
	--borderhoverdropdown: #3f3f3f;
	--bgdropdown: #303134;
	--borderdropdown: #464646;
	--dropdownhr: #c7c7c7;
	--texthoverdropdown: #ffffff !important;

}
.colortransition, .colortransition *{
		/* transition: all 0.1s ease-out ; */
}
* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	background: var(--mainwhite);
	z-index: -1;
}
