@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');
.pricingwrapper {
	width: 100%;
	background-color: var(--mainwhite);
	padding-bottom: 100px;
	color:var(--black);
}
.pricing {
	max-width: 1366px;
	background-color: var(--mainwhite);
	margin: 0 auto;
}
.pricing h1 {
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 600;
	font-size: 4em;
	text-align: center;
	margin-bottom: 50px;
	color:var(--black);

	animation: fadein .7s ease;
}
@keyframes fadein {
	from {
		/* transform: translateY(50px); */
		transform:scale(0.9);
		opacity: 0;
	}
	to {
		/* transform: translateY(0); */
		opacity: 1;
	}
}

table {
	border-collapse: collapse;
	border: solid 1px var(--borderpricing);
	margin: 0 auto;
	width: 85%;
	color:var(--black);

	/* border-radius: 2em; */
	/* padding-top: 100px; */
	box-shadow: 4px 3px 66px -30px rgba(0, 0, 0, 0.45);
	-webkit-box-shadow: 4px 3px 66px -30px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 4px 3px 66px -30px rgba(0, 0, 0, 0.45);
	animation: landing 1.2s;
}
th span {
	display: block;
	color:var(--black);
}
thead {
	z-index: 99999;
	/* background-color: rgba(255, 235, 205, 0.698); */
	position: sticky;
	top: -1px;
	color:var(--black);

}

td {
	border-collapse: collapse;
	border: solid 1px var(--borderpricing);
	color:var(--black);

	width: 200px;
	height: 70px;
	text-align: center;
}
th {
	border-collapse: collapse;
	border: solid 1px var(--borderpricing);
	/* padding: 15px; */
	color:var(--black);

}
td svg {
	width: 20px;
	fill: #03b473;
}
tr th {
	background-color: var(--mainwhite);
	color:var(--black);

}
th:nth-child(odd) {
	background-color:var(--bgwilayah);
	color:var(--black);
	color:var(--black);


}
td:nth-child(odd) {
	background-color: var(--bgwilayah);
	color:var(--black);

}
th span:nth-child(1) {
	margin-top: 15px;
	font-size: 1.5em;
	font-weight: 600;
	color:var(--black);

}
th span:nth-child(2) {
	font-size: 1em;
	font-weight: 400;
	color: var(--pricedetail);
		transition: all 0.1s ease-out ;

}
th button {
	background-color: #1c67ad;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 1em;
	font-weight: 600;
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: 15px;

	transition: all 0.3s ease-in-out;
}
th button:hover {
	background-color: #0d4d8a;
}
thead th:nth-child(1) {
	font-size: 2em;
	color:var(--black);

}
.navbarwrapper {
	position: static;
}

tr td:nth-child(1) {
	font-size: 1em;
	font-weight: 600;
	text-align: left;
	padding-left: 30px;

}
tr th:nth-child(1) {
	/* border: solid red; */
	font-size: 1.5em;
	color:var(--black);

	/* padding: 20px; */
}
tr th:nth-child(1)::before {
	content: "";
	display: block;
	width: 25%;
	height: 5px;
	background-color: #b1b1b1;
	position: absolute;
	top: 1px;
	left: 0;
}
tr th:nth-child(1) p {
	/* border: solid red; */
	/* margin-top: 100px; */
	width: 100%;
	/* height: 100px; */
	display: block;
	margin-bottom: 30px;
	font-size: 1.5em;
	color:var(--black);

}
tr th:nth-child(2)::before {
	content: "";
	display: block;
	width: 100%;
	height: 5px;
	background-color: #0d4d8a;
	position: relative;
	top: -1px;
	left: 0;
}
tr th:nth-child(3)::before {
	content: "";
	display: block;
	width: 100%;
	height: 5px;
	background-color: #6f00ffcc;
	position: relative;
	top: -1px;
	left: 0;
}
tr th:nth-child(4)::before {
	content: "";
	display: block;
	width: 100%;
	height: 5px;
	background-color: #ff00eacc;
	position: relative;
	top: -1px;
	left: 0;
}
tr th:nth-child(4)::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: var(--borderpricing);
	/* position: relative; */
	position: absolute;
		transition: all 0.3s ease-out ;

	/* top: 5px; */
	left: 0;
}
.xmark {
	fill: var(--xmark);
	width: 15px;
}
@keyframes landing {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
footer{
	background-color: var(--footerpricing);
}
