* {
	
}
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
img {
-webkit-user-drag: none;
-khtml-user-drag: none;
-moz-user-drag: none;
-o-user-drag: none;
user-drag: none;
}
main {
	box-sizing: border-box;
	padding-left: 7vw;
	padding-right: 7vw;
	/* background: red; */
	display: flex;
	backround-color: black;
	align-items: center;
	justify-content: space-between;
	/* background-image: url(Untitled-1.png); */
	/* background-repeat: no-repeat; */
	/* background-size: 100vw; */
	/* backround-attachment: fixed; */
	/* border: solid; */
	height: 88vh;
}
main h1 {
	margin: 0;
}
.desc h1{
	font-family: 'Source Serif Pro', serif;

	font-weight: 900;
	font-size: 4.5vw;
}
.desc p {
	color: #707070;
	font-size: .9em;
}
.desc {
	font-weight: 600;
	margin-top: -15vh;
	
	/* margin-left: -10vw; */
	margin-right: 10vw;
	/* padding-left: 7vw; */
	font-weight: 400;
	max-width: 40%;
}
.btn-main button {
	background: #32b768;
	color: inherit;
	border: none;
	padding: 1.5em;
	border-radius: 0.5rem;
	cursor: pointer;
	outline: inherit;
	/* margin-top: 5vh; */
}
.second {
	background-color: #f8f9fb;
	height: 100vh;
}
.food {
	/* margin-right: -6vw; */
	/* padding-left: 16vw; */
	/* padding-right: 10vw; */
	/* position: relative; */
	/* margin-top: 1.5vh; */
	/* top: 2vh; */
	margin-top: -10vh;
	/* left: 6vw; */
	/* border-radius: 100%; */
	/* object-fit: cover; */
	/* right: 0; */
	/* width: 500px; */
	max-width: 100%;
	/* box-sizing: border-box; */
	/* box-size: border-box; */

	/* box-shadow: 10px 9px 70px -16px rgba(122,122,122,0.62);
-webkit-box-shadow: 10px 9px 70px -16px rgba(122,122,122,0.62);
-moz-box-shadow: 10px 9px 70px -16px rgba(122,122,122,0.62); */
}
/* .card {
	position: relative;
	border: solid;
	width: 100px;
	height: 100px;
	top: -30vh;
	left: 50vw;
} */
.dua {
	/* height: 100%; */
	/* border: solid; */
}
.card h4{
	margin: 0;
}
.card {
	position: absolute;
	width: 200px;
	height: 100px;
	top: 60vh;
	left: 50vw;
	/* width: 100px; */
	/* height: 100px; */
	padding: 1em;
	flex-direction: column;
	min-width: 1em;
	min-height: 10em;
	overflow: hidden;
	border-radius: 0.5em;
	text-decoration: none;
	background: white;
	/* margin: 1em; */
	/* padding: 2.75em 2.5em; */
	box-shadow: -27px 10px 143px -35px rgba(130,130,130,0.75);
-webkit-box-shadow: -27px 10px 143px -35px rgba(130,130,130,0.75);
-moz-box-shadow: -27px 10px 143px -35px rgba(130,130,130,0.75);
	/* transition: tra */
}

.card img{
	border-radius: 50%	;
	border: solid 1px #ccc;
}
.image-header{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}