@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
* {
	/* border: solid 1px; */
	box-sizing: border-box;
}
img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}
main {
	max-width: 1366px;
	margin-right: auto;
	margin-left: auto;
	height: 88vh;
	max-height: 530px;
	/* max-height: 768px; */
}
.content {
	margin-top: 50px;

	color: #151a1e;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 100px;
	margin-left: 100px;
}
main .content .desc h1 {
	margin: 0;
	/* margin-top: 10vh; */
}
.desc h1 {
	line-height: 1.1em;
	font-weight: 700;
	font-size: 60px;
}
.desc p {
	font-size: 1.4em;
	font-weight: 400;
	color: #151a1e;
}
.desc {
	font-weight: 600;
	/* margin-top: -15vh; */
	/* margin-right: 10vw; */
	font-weight: 400;
	max-width: 55%;
}
.btn-main {
	margin-top: 4vh;
}
.btn-main :nth-child(1) {
	margin-right: .5vw;
}
.btn-main a {
	text-decoration: none;
	font-family: inherit;
	color: #f5f5f5;
	font-weight: 600;
	font-size: 1em;
	background: #03b473;
	border: none;
	padding: 1em 2em;
	border-radius: .4em;
	cursor: pointer;
	outline: inherit;
	transition: all 0.2s;
	border: solid 2px #03b473;
}
.btn-main a:hover {
	color: white;
	background: #058657ef;
	border-color: #058657ef;
}
.btn-main :nth-child(2) {
	background: transparent;
	color: #03b473;
	border: solid #03b473 2px;
	box-sizing: border-box;
	outline: #03b473;
	transition: all 0.4s;
}
.btn-main :nth-child(2):hover {
	color: white;
	background: #058657ef;
	border-color: #058657ef;
}
.btn-main .arrow {
	margin-left: 4px;
	/* margin-top: -0.5vh; */
	margin-right: 0;
}
.food {
	max-width: 100%;
}
.card h4 {
	margin: 0;
	margin-left: 1vw;
}
/* media quARIES */
@media screen and (max-width: 768px) {
	.card{
		display: none;
	}
}


.card {
	top: 440px;
	left: 700px;
	position: absolute;
	max-width: 250px;
	height: 160px;
	padding: 1em;
	flex-direction: column;
	overflow: hidden;
	border-radius: 0.3em;
	text-decoration: none;
	background: white;
	box-shadow: -21px 11px 73px -8px rgba(97, 97, 97, 0.33);
	-webkit-box-shadow: -21px 11px 73px -8px rgba(97, 97, 97, 0.33);
	-moz-box-shadow: -21px 11px 73px -8px rgba(97, 97, 97, 0.33);
}
.card img {
	border-radius: 50%;
	border: solid 1px #ccc;
}
.image-header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
